PORT=8080

ENVIRONMENT=development

DATABASE_POSTGRES=postgres://postgres:1234@postgres:5432/postgres

GOMODCACHE_DIR=/home/<user>/go/pkg/mod

ZIP_CODE_API=http://viacep.com.br/ws/

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=""

REDIS_URL=""
